* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #222;
}

a {
    text-decoration: none;
    color: #0077ff;
    font-weight: 500;
}

a:hover {
    color: #00ccff;
}

header {
    background-color: #0d0d0d;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 60px;
}

nav a {
    color: whitesmoke;
}

section {
    padding: 40px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #0077ff;
}

p {
    font-size: 1.2rem;
}

.servicios {
    padding: 50px;
    text-align: center;
}

.servicios h2 {
    font-size: 2rem;
    color: #0077ff;
}

.subtitulo {
    font-size: 2rem;
    margin-bottom: 30px;
}

.servicios-contenedor {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.servicio-card {
    background-color: #d4f8d4;
    border-radius: 10px;
    padding: 20px;
    width: 280px;
    text-align: center;
    box-shadow: 0 4px 10px;
}

.servicio-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}

.servicio-card h3 {
    margin-top: 15px;
    font-size: 1.3rem;
}

.precio {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
}

.btn-servicio {
    display: inline-block;
    background-color: #00aa55;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 10px;
    transition: 0.3s;
}

.btn-servicio:hover {
    display: inline-block;
    margin-top: 40px;
    background-color: #0077ff;
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 1.1rem;
    transition: 0.3s;
}

.btn-ir-tienda {
    display: inline-block;
    margin-top: 40px;
    background-color: #0077ff;
    color: white;
    padding: 12px 25px;
    font-size: 1.1rem;
    transition: 0.3s;
}

.btn-ir-tienda:hover {
    background-color: #005fcc;
}

.servicios-info {
    padding: 50px;
    background-color: #f8f8f8;
    text-align: center;
}

.servicios-info h2 {
    font-size: 2rem;
    color: #0077ff;
    margin-bottom: 10px;
}

.intro-servicio {
    font-size: 2rem;
    margin-bottom: 40px;
}

.info-servicios-contenedor {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.info-servicios-card {
    width: 320px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.info-servicios-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.info-servicios-card h3 {
    margin-top: 15px;
    font-size: 1.3rem;
    color: #0077ff;
}

.info-servicios-card p {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.4;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}